{{ form.form_build_id }}
                {{ form.form_id }}

                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <h3>Add Product</h3>
                    <h4>Add, select, and resequence product images for this option</h4>
                  </div>
                </div>
                <hr>
                    <div class="col-xs-9">
<div class="panel panel-default row">





                {% block sbtheme_scancontainer %}
                {% endblock %}

                {% block sbtheme_product %}
                {% endblock %}


<hr>

                  <div class="col-sm-12 p-sm">



                    <div class="row">
                      <div class="col-sm-8 ">
                          <h5 class="no-margins semi-bold">Product Images</h5>
                      </div>
                      <div class="col-sm-4 ">
                        <span class="pull-right">
                                                  {{ form.resequence }}
                                                  {{ form.delete }}
                  </span>
                      </div>


                    </div>

                            <div  id="imagecontainer-wrapper">
                                <div id="imagecontainer" name="imagecontainer" class="ui-sortable">


                                    {% block sbimages %}
                                    {% endblock sbimages %}

                                </div>
                            </div>
  </div>




  </div>
  </div>
    <!-- right panel -->
    <div class="col-xs-3">

        {% block sidepanel %}
        {% endblock sidepanel %}

    </div>

<div id="smartnotification"></div>
