{{ form.form_build_id }}
                {{ form.form_id }}

                <div class="row">
                  <div class="col-sm-12 col-md-8">
                    <h3>Add <span class="semi-bold">Products</span></h3>
                    <h4>Import new products and perform image selection</h4>
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <a class="btn btn-primary btn-cons pull-right" href="/sbtest/node/add/sessions"><i class="fa fa-plus mr5"></i>Add Session</a>
                  </div>
                </div>

                    <div class="col-xs-9">
<div class="panel panel-default row">





                {% block sbtheme_scancontainer %}
                {% endblock %}

                {% block sbtheme_product %}
                {% endblock %}


<hr>


                            <div  id="imagecontainer-wrapper">
                                <div id="imagecontainer" name="imagecontainer" class="ui-sortable">

                                    {% block sbimages %}
                                    {% endblock sbimages %}

                                </div>
                            </div>





  </div>
  </div>
    <!-- right panel -->
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="row">
        {% block sidepanel %}
        {% endblock sidepanel %}
      </div>
    </div>
    </div>

<div id="smartnotification"></div>
