{#
/**
* @file
* Default theme implementation to display the product details page.
*
* Available variables:
* - product: Product node array
*   -  product.title.0.value: node title
*   -  product.field_base_product_id.0.value
* todo yet to add
* @ingroup themeable
*/
#}


<h1>Product details</h1>

<p>test_var: {{ product.nid }}</p>
<p>test_var: {{ product.title.0.value }}</p>

{{ product.field_base_product_id.0.value }}



