{#
/**
* @file
* Default theme implementation to display the Session details page.
*
* Available variables:
* - session: Session node array
*   -  session.title.0.value: node title
* todo yet to add
* @ingroup themeable
*/
#}


<h1>krishna kanth</h1>

<p>test_var: {{ session.data }}</p>
<p>Data1*: {{ session.data1 }}</p>
