
<div class="row">
  <div class="col-sm-12 col-md-12">
    <h3 class="no-margins p-b-sm"><span>Product QC</span></h3>
    <h4 class="no-margins">Approve or reject all products shot</h4>
  </div>

</div>
<hr class="simple">

        <div class="row">




            <div class="inner-content full-height">
            <div class="split-view">

            <div class="split-list">
            <a class="list-refresh" href="#"><i class="fa fa-refresh"></i></a>
            <div data-product="list" class="list-view">


              <div data-product="opened" class="split-details">
              <div class="no-result">
              <h1>No email has been selected</h1>
              </div>

              </div>


            </div>
            </div>

          </div>
        </div>
      </div>
